In [11]:
import pandas as pd

In [12]:
rawfile=pd.read_csv("/Users/halukamaier-borst/Desktop/DW_DevelopmentalAid/Raw_Data/RAW_20yrs.csv")

In [13]:
rawfile.head()

,RECIPIENT,Recipient,DONOR,Donor,AIDTYPE,Aid type,PART,Part,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1997,1997,USD,US Dollar,6,Millions,NaN,NaN,122240.50,NaN,NaN
1,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1998,1998,USD,US Dollar,6,Millions,NaN,NaN,129361.74,NaN,NaN
2,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1999,1999,USD,US Dollar,6,Millions,NaN,NaN,138217.50,NaN,NaN
3,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,111921.81,NaN,NaN
4,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,2001,2001,USD,US Dollar,6,Millions,NaN,NaN,109550.13,NaN,NaN

In [25]:
rawfile.tail()

,RECIPIENT,Recipient,DONOR,Donor,AIDTYPE,Aid type,PART,Part,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
308884,274,Djibouti,944,International Atomic Energy Agency [IAEA],966,"Total Official, Gross",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.07,NaN,NaN
308885,10004,"America, Total",807,UNEP,967,"Total Official, Net",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,1.30,NaN,NaN
308886,832,Fiji,988,IFAD,967,"Total Official, Net",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.12,NaN,NaN
308887,385,Montserrat,10,Sweden,966,"Total Official, Gross",1,1 : Part I - Developing Countries,1997,1997,USD,US Dollar,6,Millions,NaN,NaN,43.78,NaN,NaN
308888,489,"South America, regional",807,UNEP,966,"Total Official, Gross",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.09,NaN,NaN

In [26]:
testdata=rawfile

In [29]:
columns = ['A','B', 'C']
emptyframe = pd.DataFrame(columns=['Recipient','Average Sum'])
previouscell="0"
year=0
sum20=0
for index, row in testdata.iterrows():
    if row["Donor"]=="All Donors, Total":
        recipient=row["Recipient"]
        if previouscell != "0" and previouscell!=recipient:
            if year==0:
                average=0
                print(previouscell,":",sum20)
            else:
                average=sum20/year
            df2 = pd.DataFrame([[previouscell, average]], columns=["Recipient","Average Sum"])
            emptyframe=emptyframe.append(df2,ignore_index=True)
            #print(previouscell,":",sum20)
            sum20=0
            year=0
            previouscell=recipient
        else:
            sum20+=row["Value"]
            previouscell=recipient
            year+=1

In [30]:
print(emptyframe.head())

                     Recipient    Average Sum
0  Developing Countries, Total  199547.183158
1                Europe, Total   15975.080000
2                      Albania     508.984444
3                      Belarus     744.938000
4       Bosnia and Herzegovina     895.425556

In [32]:
print(len(emptyframe))
emptyframedrop=emptyframe.dropna(axis=1, how='any')
print(len(emptyframedrop))

420
420

In [33]:
emptyframedrop.to_csv("Raw_Data/AllDonors.csv", index=False)

In [58]:
rawfilemig=pd.read_csv("/Users/halukamaier-borst/Desktop/DW_DevelopmentalAid/DW_Code/Raw_Data/Mig_RAW_20yrs.csv")

In [60]:
rawfilemig.head()

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1997,1997,368.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1998,1998,620.0,NaN,NaN
2,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1999,1999,852.0,NaN,NaN
3,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2000,2000,887.0,NaN,NaN
4,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2001,2001,456.0,NaN,NaN

In [61]:
rawfilemig.tail()

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
86764,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2007,2007,32.0,NaN,NaN
86765,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2008,2008,53.0,NaN,NaN
86766,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2009,2009,34.0,NaN,NaN
86767,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2010,2010,39.0,NaN,NaN
86768,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2015,2015,48.0,NaN,NaN

In [62]:
testdata=rawfilemig

In [63]:

emptyframe2 = pd.DataFrame(columns=['Country of Birth','Emigration'])
previouscell="0"
year=0
sum20=0
for index, row in testdata.iterrows():
    if row[3]=="Inflows of foreign population by nationality":
        #print(row[3])
        birthcountry=row[1]
        if previouscell != "0" and previouscell!=birthcountry:
            if year==0:
                average=0
                print(previouscell,":",sum20)
            else:
                average=sum20/year
            df2 = pd.DataFrame([[previouscell, average]], columns=['Country of Birth','Emigration'])
            emptyframe2=emptyframe2.append(df2,ignore_index=True)
            print(previouscell,":",sum20)
            sum20=0
            year=0
            previouscell=birthcountry
        else:
            sum20+=row["Value"]
            previouscell=birthcountry
            year+=1

Afghanistan : 507265.0
Albania : 913018.007
Algeria : 699327.0
Andorra : 2990.0
Angola : 73908.00200000001
Antigua and Barbuda : nan
Argentina : 495449.0
Armenia : 162748.00699999998
Australia : 668094.0
Austria : 349842.0
Azerbaijan : 90646.004
Bahamas : 14064.002
Bahrain : 9140.0
Bangladesh : 672041.0
Barbados : 15379.003
Belarus : 183987.0
Belgium : nan
Belize : nan
Benin : 29417.0
Bermuda : nan
Bhutan : 68200.0
Bolivia : 504574.0
Bosnia and Herzegovina : 590020.004
Botswana : 9149.0
Brazil : 1450189.0
Brunei Darussalam : 4847.0
Bulgaria : 1308852.0
Burkina Faso : 36316.0
Burundi : 29405.0
Cambodia : 171142.0
Cameroon : 225280.006
Canada : 725911.0
Cape Verde : 119041.0
Central African Republic : 13532.0
Chad : 9134.002
Chile : 177105.0
China : 7860091.0
Colombia : 1196964.0
Comoros : 47935.0
Congo : 91966.0
Cook Islands : nan
Costa Rica : 56059.0
Côte d'Ivoire : 138120.002
Croatia : 497937.0
Cuba : 850888.002
Cyprus : 20490.008
Czech Republic : 320025.0
Democratic People's Republic of Korea : 14419.004
Democratic Republic of the Congo : 164677.00699999998
Denmark : 243032.0
Djibouti : 7039.035000000001
Dominica : 14370.002
Dominican Republic : 926128.003
Ecuador : 898462.0
Egypt : 483997.0
El Salvador : 482659.001
Equatorial Guinea : 27738.0
Eritrea : 179531.0
Estonia : 110209.0
Ethiopia : 345258.0
Fiji : 106965.0
Finland : 209608.0
Former Czechoslovakia : 19292.001
Former USSR : 486894.003
Former Yugoslavia : 78339.036
France : 1622690.0
Gabon : 16033.004
Gambia : 72327.001
Georgia : 160788.001
Germany : 1933227.0
Ghana : 318749.0
Greece : 582268.0
Grenada : nan
Guam : nan
Guatemala : 294751.0
Guinea : 94342.00099999999
Guinea-Bissau : 47872.001000000004
Guyana : 165161.002
Haiti : 527011.003
Honduras : 225180.002
Hong Kong, China : nan
Hungary : 875090.0
Iceland : 57924.0
India : 3712494.0
Indonesia : 546784.0
Iran : 729375.0
Iraq : 780031.0
Ireland : 284124.0
Israel : 207205.0
Italy : 1553305.0
Jamaica : 420034.0
Japan : 687905.0
Jordan : 159743.0
Kazakhstan : 211929.0
Kenya : 176319.0
Kiribati : nan
Korea : 1281811.0
Kuwait : 43916.013
Kyrgyzstan : 55986.0
Laos : 47845.0
Latvia : 186775.0
Lebanon : 247988.0
Lesotho : nan
Liberia : 96135.017
Libya : 65759.006
Liechtenstein : 3995.002
Lithuania : 342854.0
Luxembourg : 41708.001
Macau : nan
Former Yug. Rep. of Macedonia : 232343.0
Madagascar : 47520.003
Malawi : 8097.0
Malaysia : 318404.0
Maldives : nan
Mali : 122191.002
Malta : 9646.0
Marshall Islands : nan
Mauritania : 42203.001000000004
Mauritius : 62690.0
Mexico : 3422683.0
Micronesia : nan
Moldova : 344059.0
Monaco : 562.0
Mongolia : 165606.0
Montenegro : 20920.001
Morocco : 2040926.0
Mozambique : 13516.007000000001
Myanmar : 221337.0
Namibia : 9270.0
Nauru : nan
Nepal : 328518.0
Netherlands : 648084.0
New Zealand : 764344.0
Nicaragua : 170051.003
Niger : 19253.002
Nigeria : 632355.0
Niue : nan
Norway : 185499.0
Oman : 16333.0
Pakistan : 1338993.0
Palau : nan
Palestinian administrative areas : 14801.0
Panama : 43480.002
Papua New Guinea : nan
Paraguay : 165572.0
Peru : 1110872.0
Philippines : 3243394.0
Poland : 4139578.0
Portugal : 919988.0
Puerto Rico : nan
Qatar : 9472.003
Romania : 4465392.0
Russia : 1579225.0
Rwanda : 29998.013000000003
Saint Kitts and Nevis : nan
Saint Lucia : 21085.0
Saint Vincent and the Grenadines : nan
Samoa : nan
San Marino : 1792.0
Sao Tome and Principe : 17468.0
Saudi Arabia : 125276.0
Senegal : 269031.003
Serbia and Montenegro : 745811.0540000001
Seychelles : 2786.0
Sierra Leone : 65999.0
Serbia : 375223.0
Singapore : 119108.0
Slovak Republic : 562665.0
Slovenia : 93313.0
Solomon Islands : 3307.0
Somalia : 318600.0
South Africa : 540004.0
Spain : 766402.0
Sri Lanka : 528214.0
Sudan : 136467.0
Suriname : 47996.001
Swaziland : 1657.0059999999999
Sweden : 351735.0
Switzerland : 188334.0
Syria : 772044.0
Chinese Taipei : 403871.0
Tajikistan : 15837.002
Tanzania : 41374.0
Thailand : 864542.0
Timor-Leste : 4429.0
Togo : 68637.007
Tokelau : nan
Tonga : nan
Trinidad and Tobago : 131812.0
Tunisia : 369333.004
Turkey : 1479993.0
Turkmenistan : 17628.004
Tuvalu : nan
Uganda : 41523.0
Ukraine : 1620533.0
United Arab Emirates : 54966.0
United Kingdom : 2347870.0
United States : 2353687.0
Uruguay : 113906.0
Uzbekistan : 230183.0
Vanuatu : nan
Venezuela : 375032.0
Viet Nam : 1558792.0
Yemen : 67601.0
Zambia : 21041.0
Zimbabwe : 68173.0
Total : 96530258.0
Not stated : nan
Unknown : 358059.04600000003
Stateless : 70317.098
Turkmenistan : 2.0
Algeria : 0
Algeria : 0
Mexico : 19.0
Portugal : 79.0
Central African Republic : 0
Central African Republic : 0
Lithuania : 1835.0
Moldova : 168.0
Bulgaria : 629.0
Kyrgyzstan : 20.0
Timor-Leste : 0
Timor-Leste : 0
Montenegro : 0
Montenegro : 0
Lebanon : 10.0
Austria : 87.0
Barbados : 0
Barbados : 0
Papua New Guinea : 0
Papua New Guinea : 0
Democratic Republic of the Congo : 0
Democratic Republic of the Congo : 0
Congo : 0
Congo : 0
Bolivia : 0
Bolivia : 0
Mozambique : 0
Mozambique : 0
Slovak Republic : 0
Slovak Republic : 0
Egypt : 0
Egypt : 0
Uruguay : 0
Uruguay : 0
Slovenia : 0
Slovenia : 0
Nigeria : 0
Nigeria : 0
Brunei Darussalam : 0
Brunei Darussalam : 0
Thailand : 0
Thailand : 0
Maldives : 0
Maldives : 0
Luxembourg : 2.0
Burkina Faso : 0
Burkina Faso : 0
Paraguay : 0
Paraguay : 0
Micronesia : 0
Micronesia : 0
Netherlands : 139.0
Bosnia and Herzegovina : 0
Bosnia and Herzegovina : 0
Morocco : 0
Morocco : 0
Unknown : 0
Unknown : 0
Bhutan : 0
Bhutan : 0
Palau : 0
Palau : 0
Mali : 0
Mali : 0
Chad : 0
Chad : 0
Rwanda : 0
Rwanda : 0
Comoros : 0
Comoros : 0
Malaysia : 0
Malaysia : 0
Australia : 25.0
Solomon Islands : 0
Solomon Islands : 0
Cape Verde : 0
Cape Verde : 0
Venezuela : 0
Venezuela : 0
Iceland : 34.0
Syria : 7.0
Bahamas : 0
Bahamas : 0
Guyana : 0
Guyana : 0
Madagascar : 0
Madagascar : 0
Vanuatu : 0
Vanuatu : 0
Jordan : 0
Jordan : 0
Yemen : 0
Yemen : 0
Iraq : 0
Iraq : 0
Bermuda : 0
Bermuda : 0
Jamaica : 0
Jamaica : 0
Uganda : 0
Uganda : 0
Azerbaijan : 55.0
Former Yug. Rep. of Macedonia : 0
Former Yug. Rep. of Macedonia : 0
Argentina : 0
Argentina : 0
Korea : 60.0
Trinidad and Tobago : 0
Trinidad and Tobago : 0
Belize : 0
Belize : 0
Viet Nam : 12.0
Bahrain : 0
Bahrain : 0
Kuwait : 0
Kuwait : 0
Ukraine : 1439.0
Namibia : 0
Namibia : 0
Antigua and Barbuda : 0
Antigua and Barbuda : 0
Pakistan : 8.0
Democratic People's Republic of Korea : 0
Democratic People's Republic of Korea : 0
India : 82.0
Saint Lucia : 0
Saint Lucia : 0
Tuvalu : 0
Tuvalu : 0
Mongolia : 0
Mongolia : 0
Tonga : 0
Tonga : 0
Benin : 0
Benin : 0
Kazakhstan : 95.0
Somalia : 0
Somalia : 0
Greece : 21.0
Japan : 0
Japan : 0
Togo : 0
Togo : 0
Germany : 1556.0
Panama : 0
Panama : 0
Sierra Leone : 0
Sierra Leone : 0
Guinea : 0
Guinea : 0
France : 291.0
Armenia : 61.0
Malawi : 0
Malawi : 0
Serbia : 8.0
Spain : 196.0
Angola : 0
Angola : 0
Nepal : 0
Nepal : 0
Chinese Taipei : 0
Chinese Taipei : 0
Haiti : 0
Haiti : 0
Marshall Islands : 0
Marshall Islands : 0
Swaziland : 0
Swaziland : 0
Ethiopia : 0
Ethiopia : 0
Switzerland : 28.0
Saint Kitts and Nevis : 0
Saint Kitts and Nevis : 0
Brazil : 36.0
Ghana : 0
Ghana : 0
Malta : 8.0
Guinea-Bissau : 0
Guinea-Bissau : 0
Guatemala : 0
Guatemala : 0
Sweden : 508.0
Palestinian administrative areas : 0
Palestinian administrative areas : 0
Sri Lanka : 12.0
Côte d'Ivoire : 0
Côte d'Ivoire : 0
Kenya : 0
Kenya : 0
Andorra : 0
Andorra : 0
Djibouti : 0
Djibouti : 0
Ecuador : 0
Ecuador : 0
Iran : 0
Iran : 0
Eritrea : 0
Eritrea : 0
New Zealand : 0
New Zealand : 0
Bangladesh : 0
Bangladesh : 0
Saint Vincent and the Grenadines : 0
Saint Vincent and the Grenadines : 0
Qatar : 0
Qatar : 0
Hungary : 24.0
United States : 302.0
Costa Rica : 0
Costa Rica : 0
Belgium : 59.0
Dominica : 0
Dominica : 0
Monaco : 0
Monaco : 0
Indonesia : 0
Indonesia : 0
Denmark : 244.0
Seychelles : 0
Seychelles : 0
Croatia : 0
Croatia : 0
Niger : 0
Niger : 0
Cyprus : 0
Cyprus : 0
Equatorial Guinea : 0
Equatorial Guinea : 0
Senegal : 0
Senegal : 0
Libya : 0
Libya : 0
Zimbabwe : 0
Zimbabwe : 0
Kiribati : 0
Kiribati : 0
Singapore : 0
Singapore : 0
United Arab Emirates : 0
United Arab Emirates : 0
Nauru : 0
Nauru : 0
South Africa : 0
South Africa : 0
Turkey : 40.0
Russia : 7161.0
Honduras : 0
Honduras : 0
Botswana : 0
Botswana : 0
Gambia : 0
Gambia : 0
Norway : 219.0
Estonia : 517.0
Laos : 0
Laos : 0
Mauritania : 0
Mauritania : 0
Afghanistan : 0
Afghanistan : 0
Liechtenstein : 0
Liechtenstein : 0
Albania : 0
Albania : 0
Total : 36275.0
Liberia : 0
Liberia : 0
Tanzania : 0
Tanzania : 0
Cameroon : 0
Cameroon : 0
Zambia : 0
Zambia : 0
Suriname : 0
Suriname : 0
Tunisia : 0
Tunisia : 0
Fiji : 0
Fiji : 0
Chile : 0
Chile : 0
Gabon : 0
Gabon : 0
Mauritius : 0
Mauritius : 0
Grenada : 0
Grenada : 0
Romania : 354.0
United Kingdom : 417.0
Tajikistan : 0
Tajikistan : 0
Israel : 212.0
Turkmenistan : 10.0
Saudi Arabia : 0
Saudi Arabia : 0
Oman : 0
Oman : 0
Uzbekistan : 225.0
Colombia : 0
Colombia : 0
El Salvador : 0
El Salvador : 0
Georgia : 82.0
Myanmar : 0
Myanmar : 0
China : 72.0
San Marino : 0
San Marino : 0
Dominican Republic : 0
Dominican Republic : 0
Sudan : 0
Sudan : 0
Lesotho : 0
Lesotho : 0
Italy : 285.0
Ireland : 69.0
Czech Republic : 131.0
Poland : 483.0
Belarus : 949.0
Canada : 47.0
Peru : 0
Peru : 0
Cuba : 0
Cuba : 0
Burundi : 0
Burundi : 0
Cambodia : 0
Cambodia : 0
Nicaragua : 0
Nicaragua : 0
Philippines : 0
Philippines : 0
Samoa : 0
Samoa : 0

In [64]:
emptyframe2.to_csv("AllMig.csv",index=False)