In [65]:
import pandas as pd

In [95]:
rawfile=pd.read_csv("/Users/halukamaier-borst/Desktop/DW_DevelopmentalAid/DW_Code/Raw_Data/Money_RAW_20yrs.csv")

In [96]:
rawfile.head()

,RECIPIENT,Recipient,DONOR,Donor,AIDTYPE,Aid type,PART,Part,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1997,1997,USD,US Dollar,6,Millions,NaN,NaN,122240.50,NaN,NaN
1,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1998,1998,USD,US Dollar,6,Millions,NaN,NaN,129361.74,NaN,NaN
2,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,1999,1999,USD,US Dollar,6,Millions,NaN,NaN,138217.50,NaN,NaN
3,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,111921.81,NaN,NaN
4,10100,"Developing Countries, Total",20005,"All Donors, Total",966,"Total Official, Gross",1,1 : Part I - Developing Countries,2001,2001,USD,US Dollar,6,Millions,NaN,NaN,109550.13,NaN,NaN

In [97]:
rawfile.tail()

,RECIPIENT,Recipient,DONOR,Donor,AIDTYPE,Aid type,PART,Part,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
308884,274,Djibouti,944,International Atomic Energy Agency [IAEA],966,"Total Official, Gross",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.07,NaN,NaN
308885,10004,"America, Total",807,UNEP,967,"Total Official, Net",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,1.30,NaN,NaN
308886,832,Fiji,988,IFAD,967,"Total Official, Net",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.12,NaN,NaN
308887,385,Montserrat,10,Sweden,966,"Total Official, Gross",1,1 : Part I - Developing Countries,1997,1997,USD,US Dollar,6,Millions,NaN,NaN,43.78,NaN,NaN
308888,489,"South America, regional",807,UNEP,966,"Total Official, Gross",1,1 : Part I - Developing Countries,2016,2016,USD,US Dollar,6,Millions,NaN,NaN,0.09,NaN,NaN

In [98]:
testdata=rawfile

In [102]:
emptyframe = pd.DataFrame(columns=['Recipient','Average Sum of Money'])
previouscell="0"
year=0
sum20=0
for index, row in testdata.iterrows():
    if row["Donor"]=="All Donors, Total" and row["Aid type"]=="Total Official, Gross":
        recipient=row["Recipient"]
        if previouscell != "0" and previouscell!=recipient:
            if year==0:
                average=0
                print(previouscell,":",sum20)
            else:
                average=sum20/year
            df2 = pd.DataFrame([[previouscell, average]], columns=["Recipient","Average Sum of Money"])
            emptyframe=emptyframe.append(df2,ignore_index=True)
            print(previouscell,":",sum20)
            sum20=0
            year=0
            previouscell=recipient
        else:
            sum20+=row["Value"]
            previouscell=recipient
            year+=1

Developing Countries, Total : 3791396.4800000004
Europe, Total : 287551.43999999994
Albania : 9161.720000000001
Belarus : 7449.379999999998
Bosnia and Herzegovina : 16117.660000000002
Croatia : 10376.97
Former Yugoslav Republic of Macedonia : 6899.11
Gibraltar : 0.25
Kosovo : 3343.29
Moldova : 5865.51
Slovenia : 1091.6499999999999
Ukraine : 29754.49
North of Sahara, Total : 166591.97999999998
Libya : 1931.3599999999997
Tunisia : 27937.010000000002
Angola : 13576.560000000001
Benin : 9881.529999999999
Burundi : 7527.360000000001
Cameroon : 20104.0
Gabon : 3756.7199999999993
Ghana : 36374.11
Guinea : 7470.97
Madagascar : 17352.370000000003
Mayotte : 3589.88
Mozambique : 38073.01999999999
Namibia : 4854.63
Niger : 12236.93
Saint Helena : 986.84
Seychelles : 601.76
South Africa : 35015.74999999999
Uganda : 30020.47
Zambia : 24305.680000000004
Africa, regional : 35219.549999999996
Anguilla : 145.64999999999998
Aruba : 17.86
Barbados : 779.8
Belize : 1039.2900000000002
British Virgin Islands : 0.9800000000000004
Cuba : 2757.3300000000004
Haiti : 16578.66
Netherlands Antilles : 293.62
Nicaragua : 17077.73
Panama : 18270.239999999998
Trinidad and Tobago : 2511.27
West Indies, regional : 1844.04
North & Central America, regional : 36122.90000000001
Ecuador : 12048.650000000001
Suriname : 1747.03
China (People's Republic of) : 138680.2
Macau, China : -18.67
CEEC, Total : 9161.720000000001
ACP Countries, Total : 765419.38
Viet Nam : 79019.68999999999
Afghanistan : 63516.19
Bangladesh : 45425.31
India : 145614.93999999997
Kazakhstan : 26954.950000000004
Myanmar : 16386.76
Nepal : 13481.77
Sri Lanka : 20524.43
Tajikistan : 5714.48
South Asia, regional : 1356.34
Iran : 19045.75
Jordan : 26209.78
Lebanon : 13738.300000000001
Oman : 9441.449999999999
Saudi Arabia : 16627.0
Syrian Arab Republic : 20501.6
West Bank and Gaza Strip : 29627.660000000003
Asia, regional : 37101.23
Comoros : 1019.8000000000001
Equatorial Guinea : 869.0299999999999
Sierra Leone : 8635.18
Mexico : 100796.22000000002
South of Sahara, regional : 36683.78
Mongolia : 7718.83
Democratic Republic of the Congo : 46803.32999999999
Saint Lucia : 794.74
Venezuela : 14861.879999999997
Montserrat : 740.12
Democratic People's Republic of Korea : 2794.1899999999996
Europe, regional : 29265.3
Morocco : 45888.21000000001
Montenegro : 2316.0299999999997
Central Asia, regional : 2359.91
Iraq : 86382.80000000002
Peru : 30143.63
Dominica : 580.52
Congo : 7412.05
South America, Total : 349890.49
Armenia : 7733.51
States Ex-Yugoslavia : 2583.65
Rwanda : 14791.759999999998
Jamaica : 7741.469999999998
Mali : 18316.38
Zimbabwe : 9511.73
South of Sahara, Total : 772004.7600000001
Sudan : 23661.2
Timor-Leste : 4871.929999999999
Middle East, regional : 47287.380000000005
Senegal : 20334.74
Turkey : 129538.26
Malta : 857.0799999999999
Liberia : 10608.91
Guatemala : 13196.710000000003
Togo : 4820.51
Guyana : 3539.5300000000007
Asia, Total : 1302799.04
Africa, Total : 973816.2800000001
Serbia : 30069.18
Chile : 25119.420000000002
Pakistan : 66034.87
Antigua and Barbuda : 220.95
Saint Kitts and Nevis : 355.91
Far East Asia, Total : 506799.6400000001
Ethiopia : 49535.45
Egypt : 73531.56999999999
Samoa : 1289.8500000000001
Tonga : 839.3899999999999
South America, regional : 5186.040000000001
Burkina Faso : 16627.33
Wallis and Futuna : 1634.6500000000003
South & Central Asia, regional : 3942.2700000000004
LDCs, Total : 687819.1399999999
Kenya : 31910.170000000002
Uzbekistan : 12355.960000000001
Fiji : 1655.6899999999998
Indonesia : 123493.09
Club du Sahel, Total : 92245.22000000002
Marshall Islands : 1250.8300000000002
Swaziland : 1477.2699999999998
Bolivia : 18640.52
Kyrgyzstan : 7748.780000000001
New Caledonia : 873.45
Palau : 595.5500000000001
NIS, Total : 139062.54
Mauritania : 8353.86
UMICs, Total : 1168533.68
Nigeria : 58370.89
Oceania, Total : 38119.82000000001
North & Central America, Total : 268600.89
Philippines : 50341.29000000001
Solomon Islands : 3469.3300000000004
North of Sahara, regional : 3597.16
Turks and Caicos Islands : 104.52999999999999
Part I Unallocated by income : 699523.23
Central African Republic : 4124.96
Sao Tome and Principe : 953.09
French Polynesia : 858.06
Korea : 17122.64
Micronesia : 1993.87
Thailand : 38644.83
Bhutan : 2009.26
South Sudan : 6261.870000000001
Malaysia : 20740.96
Grenada : 652.61
Mauritius : 3532.9500000000003
MADCTs, Total : 66787.69
Land-Locked countries, Total : 439294.19000000006
Far East Asia, regional : 4320.0599999999995
Middle East, Total : 283052.55
Brazil : 125881.89
Small island states, Total : 107205.0
Algeria : 13706.710000000003
Tokelau : 211.19
Niue : 229.93999999999997
Honduras : 15528.770000000002
Eritrea : 3292.9600000000005
El Salvador : 10178.180000000002
Paraguay : 5635.019999999999
Djibouti : 2509.42
Papua New Guinea : 16029.700000000003
Guinea-Bissau : 2081.78
Gambia : 2079.29
Cambodia : 11548.009999999998
South & Central Asia, Total : 475845.62
Costa Rica : 5982.740000000001
Colombia : 48875.94
Uruguay : 8647.91
Vanuatu : 1326.6200000000001
Fragile states, Total : 1126455.4100000001
Developing countries, unspecified : 401704.32999999996
Cook Islands : 280.81
Dominican Republic : 13774.060000000001
Argentina : 49563.020000000004
HIPCs, Total : 681560.3099999999
Somalia : 9491.11
Bahrain : 1755.48
Georgia : 12687.52
America, Total : 665165.0799999998
LMICs, Total : 996561.65
Azerbaijan : 14302.089999999998
America, regional : 46673.69
Tuvalu : 316.38
Yemen : 12435.39
Oceania, regional : 4269.86
Other LICs, Total : 49930.56999999999
Tanzania : 45092.36
Lesotho : 2704.6
Malawi : 16468.3
Maldives : 1256.51
Turkmenistan : 6434.07
Saint Vincent and the Grenadines : 513.97
Botswana : 4436.639999999999
Kiribati : 633.78
Côte d'Ivoire : 20850.71
Lao People's Democratic Republic : 7522.549999999999
Nauru : 358.15000000000003
Chad : 7977.16
Northern Mariana Islands : 2.8200000000000003

In [73]:
print(emptyframe.head())

                     Recipient    Average Sum
0  Developing Countries, Total  199547.183158
1                Europe, Total   15975.080000
2                      Albania     508.984444
3                      Belarus     744.938000
4       Bosnia and Herzegovina     895.425556

In [74]:
print(len(emptyframe))
emptyframedrop=emptyframe.dropna(axis=1, how='any')
print(len(emptyframedrop))

420
420

In [75]:
emptyframedrop.to_csv("Raw_Data/AllDonors.csv", index=False)

In [76]:
rawfilemig=pd.read_csv("/Users/halukamaier-borst/Desktop/DW_DevelopmentalAid/DW_Code/Raw_Data/Mig_RAW_20yrs.csv")

In [77]:
rawfilemig.head()

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1997,1997,368.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1998,1998,620.0,NaN,NaN
2,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,1999,1999,852.0,NaN,NaN
3,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2000,2000,887.0,NaN,NaN
4,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2001,2001,456.0,NaN,NaN

In [78]:
rawfilemig.tail()

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
86764,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2007,2007,32.0,NaN,NaN
86765,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2008,2008,53.0,NaN,NaN
86766,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2009,2009,34.0,NaN,NaN
86767,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2010,2010,39.0,NaN,NaN
86768,FIN,Finland,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2015,2015,48.0,NaN,NaN

In [122]:
rawfilemig=rawfilemig.sort_values(by=['Country of birth/nationality', 'Country','Year'])
#df.sort_values(by=['col1'])

In [123]:
testdata=rawfilemig

In [125]:

emptyframe2 = pd.DataFrame(columns=['Country of Birth','Emigration'])
previouscell="0"
year=0
sum20=0
for index, row in testdata.iterrows():
    if row[3]=="Inflows of foreign population by nationality":
        #print(row[3])
        birthcountry=row[1]
        if previouscell != "0" and previouscell!=birthcountry:
            if year==0:
                average=0
                print(previouscell,":",sum20)
            else:
                average=sum20/year
            df2 = pd.DataFrame([[previouscell, average]], columns=['Country of Birth','Emigration'])
            emptyframe2=emptyframe2.append(df2,ignore_index=True)
            print(previouscell,":",sum20)
            sum20=0
            year=0
            previouscell=birthcountry
        else:
            sum20+=row["Value"]
            previouscell=birthcountry
            year+=1

Afghanistan : 507266.0
Albania : 913020.007
Algeria : 699327.0
Andorra : 2990.0
Angola : 73908.00200000001
Antigua and Barbuda : nan
Argentina : 495449.0
Armenia : 162827.00699999998
Australia : 668122.0
Austria : 349930.0
Azerbaijan : 90710.004
Bahamas : 14064.002
Bahrain : 9140.0
Bangladesh : 672041.0
Barbados : 15379.003
Belarus : 185019.0
Belgium : nan
Belize : nan
Benin : 29417.0
Bermuda : nan
Bhutan : 68200.0
Bolivia : 504574.0
Bosnia and Herzegovina : 590021.004
Botswana : 9149.0
Brazil : 1450227.0
Brunei Darussalam : 4847.0
Bulgaria : 1309482.0
Burkina Faso : 36316.0
Burundi : 29405.0
Cambodia : 171142.0
Cameroon : 225280.006
Canada : 725960.0
Cape Verde : 119041.0
Central African Republic : 13532.0
Chad : 9134.002
Chile : 177106.0
China : 7860173.0
Chinese Taipei : 403871.0
Colombia : 1196964.0
Comoros : 47935.0
Congo : 91966.0
Cook Islands : nan
Costa Rica : 56059.0
Croatia : 497938.0
Cuba : 850890.002
Cyprus : 20492.008
Czech Republic : 320163.0
Côte d'Ivoire : 138120.002
Democratic People's Republic of Korea : 14419.004
Democratic Republic of the Congo : 164677.00699999998
Denmark : 243287.0
Djibouti : 7039.035000000001
Dominica : 14370.002
Dominican Republic : 926128.003
Ecuador : 898462.0
Egypt : 484004.0
El Salvador : 482659.001
Equatorial Guinea : 27738.0
Eritrea : 179531.0
Estonia : 110735.0
Ethiopia : 345258.0
Fiji : 106965.0
Finland : 209918.0
Former Czechoslovakia : 19292.001
Former USSR : 486894.00299999997
Former Yug. Rep. of Macedonia : 232345.0
Former Yugoslavia : 78339.036
France : 1623005.0
Gabon : 16034.004
Gambia : 72327.001
Georgia : 160886.001
Germany : 1934799.0
Ghana : 318753.0
Greece : 582292.0
Grenada : nan
Guam : nan
Guatemala : 294751.0
Guinea : 94342.00099999999
Guinea-Bissau : 47872.001000000004
Guyana : 165161.002
Haiti : 527011.003
Honduras : 225180.002
Hong Kong, China : nan
Hungary : 875118.0
Iceland : 57961.0
India : 3712584.0
Indonesia : 546786.0
Iran : 729376.0
Iraq : 780031.0
Ireland : 284199.0
Israel : 207430.0
Italy : 1553594.0
Jamaica : 420034.0
Japan : 687908.0
Jordan : 159744.0
Kazakhstan : 212034.0
Kenya : 176319.0
Kiribati : nan
Korea : 1281883.0
Kuwait : 43917.013
Kyrgyzstan : 56009.0
Laos : 47845.0
Latvia : 186775.0
Lebanon : 248019.0
Lesotho : nan
Liberia : 96135.017
Libya : 65759.006
Liechtenstein : 3995.002
Lithuania : 344727.0
Luxembourg : 41711.001
Macau : nan
Madagascar : 47520.003
Malawi : 8097.0
Malaysia : 318405.0
Maldives : nan
Mali : 122191.002
Malta : 9655.0
Marshall Islands : nan
Mauritania : 42204.001000000004
Mauritius : 62690.0
Mexico : 3422703.0
Micronesia : nan
Moldova : 344240.0
Monaco : 562.0
Mongolia : 165607.0
Montenegro : 20920.001
Morocco : 2040926.0
Mozambique : 13516.007000000001
Myanmar : 221337.0
Namibia : 9270.0
Nauru : nan
Nepal : 328523.0
Netherlands : 648232.0
New Zealand : 764345.0
Nicaragua : 170051.003
Niger : 19253.002
Nigeria : 632360.0
Niue : nan
Norway : 185719.0
Not stated : nan
Oman : 16333.0
Pakistan : 1339018.0
Palau : nan
Palestinian administrative areas : 14801.0
Panama : 43480.002
Papua New Guinea : nan
Paraguay : 165572.0
Peru : 1110873.0
Philippines : 3243447.0
Poland : 4140067.0
Portugal : 920071.0
Puerto Rico : nan
Qatar : 9472.003
Romania : 4465747.0
Russia : 1586973.0
Rwanda : 29998.013000000003
Saint Kitts and Nevis : nan
Saint Lucia : 21085.0
Saint Vincent and the Grenadines : nan
Samoa : nan
San Marino : 1792.0
Sao Tome and Principe : 17468.0
Saudi Arabia : 125276.0
Senegal : 269031.003
Serbia : 375232.0
Serbia and Montenegro : 745811.0540000001
Seychelles : 2786.0
Sierra Leone : 65999.0
Singapore : 119110.0
Slovak Republic : 562670.0
Slovenia : 93313.0
Solomon Islands : 3307.0
Somalia : 318600.0
South Africa : 540007.0
Spain : 766605.0
Sri Lanka : 528262.0
Stateless : 70317.098
Sudan : 136467.0
Suriname : 47996.001
Swaziland : 1657.0059999999999
Sweden : 352255.0
Switzerland : 188369.0
Syria : 772058.0
Tajikistan : 15844.002
Tanzania : 41374.0
Thailand : 864544.0
Timor-Leste : 4429.0
Togo : 68637.007
Tokelau : nan
Tonga : nan
Total : 96568160.0
Trinidad and Tobago : 131812.0
Tunisia : 369334.004
Turkey : 1480040.0
Turkmenistan : 17727.004
Tuvalu : nan
Uganda : 41523.0
Ukraine : 1622119.0
United Arab Emirates : 54966.0
United Kingdom : 2348294.0
United States : 2354000.0
Unknown : 358114.04600000003
Uruguay : 113907.0
Uzbekistan : 230417.0
Vanuatu : nan
Venezuela : 375032.0
Viet Nam : 1558805.0
Yemen : 67601.0
Zambia : 21041.0

In [126]:
emptyframe2.to_csv("/Users/halukamaier-borst/Desktop/DW_DevelopmentalAid/DW_Code/Raw_Data/AllMig.csv",index=False)

In [113]:
emptyframe2.head()

  Country of Birth   Emigration
0      Afghanistan  1152.877273
1          Albania  2070.544234
2          Algeria  1537.039560
3          Andorra     8.794118
4           Angola   172.500005

In [114]:
emptyframe.head()
len(emptyframe)

210

In [115]:
mig=emptyframe2.rename(index=str, columns={"Country of Birth": "Recipient"})
mig.head()
len(mig)

209

In [119]:
result=pd.merge(emptyframe,mig, on="Recipient", how="inner")
result=result
result=result[(result != 0).all(1)]
result=result.dropna()
len(result)

124

In [120]:
resultscount=result.groupby(['Recipient']).size().reset_index(name='count')
resultscount

                    Recipient  count
0                 Afghanistan      1
1                     Albania      1
2                     Algeria      1
3                      Angola      1
4                   Argentina      1
5                     Armenia      1
6                  Azerbaijan      1
7                     Bahrain      1
8                  Bangladesh      1
9                    Barbados      1
10                    Belarus      1
11                      Benin      1
12                     Bhutan      1
13                    Bolivia      1
14     Bosnia and Herzegovina      1
15                   Botswana      1
16                     Brazil      1
17               Burkina Faso      1
18                    Burundi      1
19                   Cambodia      1
20                   Cameroon      1
21   Central African Republic      1
22                       Chad      1
23                      Chile      1
24                   Colombia      1
25                    Comoros      1
26                      Congo      1
27                 Costa Rica      1
28                    Croatia      1
29                       Cuba      1
..                        ...    ...
94               Saudi Arabia      1
95                    Senegal      1
96                     Serbia      1
97                 Seychelles      1
98               Sierra Leone      1
99                   Slovenia      1
100           Solomon Islands      1
101                   Somalia      1
102              South Africa      1
103                 Sri Lanka      1
104                     Sudan      1
105                  Suriname      1
106                 Swaziland      1
107                Tajikistan      1
108                  Tanzania      1
109                  Thailand      1
110               Timor-Leste      1
111                      Togo      1
112       Trinidad and Tobago      1
113                   Tunisia      1
114                    Turkey      1
115              Turkmenistan      1
116                    Uganda      1
117                   Ukraine      1
118                   Uruguay      1
119                Uzbekistan      1
120                 Venezuela      1
121                  Viet Nam      1
122                     Yemen      1
123                    Zambia      1

[124 rows x 2 columns]

In [121]:
result.to_csv("Raw_data/merged.csv", index=False)